body {
    margin: 10%;
    /* background: #042040; */
    justify-content: center;
    align-items: center; 
    
background: linear-gradient(180deg, rgb(29, 29, 30) 4%, rgba(9,9,121,1) 53%, rgba(200,212,255,1) 100%);
  }
  div{
    display: flex;
    flex-direction: column;
  }
  p {
    margin:  10px  auto;
    font-size: 1.3rem;
    transform: translateY(50px);
    color: aliceblue;
    background-color: #0c092078;
 }
  img {
    display: block;
    margin-inline: auto;
    width: 70%;
  }